*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color:#fcf1eb ;
}

#nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  border-bottom: 1px solid #cccc ;
  width: 100%;
  position: fixed;
  background-color:#fcf1eb ;
}

.nav-links a{
  display: inline-block;
  margin: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color:#212121;
}
.nav-links a:hover{
  color: #ff6929;
}

.logo a{
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color:#212121;
}
.logo a::first-letter{
  font-size: 35px;
  font-style: italic;
  color:#ff6929;
}

.btn a{
  display: inline-block;
  margin: 0px 15px;
  text-decoration: none;
  padding: 10px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ff6929;
  color: white;
  text-align: center;
  border-radius:5px ;
}

.btn a:hover{
  background-color:blue;
}

.banner-content{
  margin-top: 170px;
}
.banner-content h1{
  font-size: 32px;
  padding-top: 10px;
  line-height: 2;
  color: #212121;
}

.banner-content p{
  font-size: 18px;
  padding-top: 10px;
  color: #212121;
}
.banner-content button{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  color: white;
  background-color: #ff6929;
  border-radius: 10px;
}
.banner-content button:hover{

  background-color: transparent;
  color:#212121;

}

.banner-image img{
  padding: 25px;
  width:58vw;
}
.Banner{
  display: flex;
  padding: 100px;
}

.client-section{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.c-logo img{
  width: 200px;
  max-height: 50px;
  object-fit: cover;
  margin-left: 30px;
}

.client-section h3{
  font-size: 36px;
  padding: 10px;
}
.client-section p{
  font-size: 18px;
  padding: 10px;
  margin-bottom: 30px;
}

.pb-card img{
  width: 45px;
  height: 39px;
}

.pb-card{
  padding: 10px;
  width: 220px;
  height: 185px;
  background-color: #fcf1eb;
  text-align: center;
  border: 1px solid #eceaea;
  border-radius: 5px;
}

.pb-card h3{
  font-size: 20px;
  padding: 10px;
  color:#4D4D4D
}
.pb-card p{
  font-size: 12px;
  color:#717171
}

.pb-container{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap:120px;
}

.pb-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.pb-content{
  text-align: center;
  color:#4D4D4D;
}
.pb-content h2{
  width: 370px;
  margin-bottom: 10px;
  font-size: 26px;
}
.pb-content p{
  font-size: 12px;
  padding-bottom: 10px;
}

.hb-content img{
  width: 33px;
  height: 33px;
}

.hb-container{
  width: 30%;
  display: flex;
  gap:40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hb-content{
  display: flex;
  padding: 15px;
  gap: 10px;
}

.hb-section{
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  background-color: #ff6929;
}

.hb-title{
  width: 320px;
  padding: 10px;
}
.hb-title h2{
  font-size: 26px;
  margin-bottom:10px;
}
.hb-title p{
  font-size: 12px;
}

.hb-data h3{
  font-size: 20px;
}
.hb-data p{
  font-size: 12px;
}





